  <article>
   <div id="mainpage">
    <section id="mainpagefirstsec">
     <div>
       <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
           <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         </ol>
         <div class="carousel-inner" role="listbox">
           <div class="item active">
             <img src="images/pic1.jpg" alt="...">
             <div class="carousel-caption" id="carousle1">
                 编程，是一种信仰！
                 <br> 带着这个信仰，在茫茫大海中航行。
                 <br>相信我，你并不孤独，51Offer伴你走到未来彼岸。
             </div>
           </div>
           <div class="item" id="item2">
             <img src="images/pic2.jpg" alt="...">
             <div class="carousel-caption" id="carousel2">
               未来世界属于你
             </div>
           </div>
         </div>
         <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
     </div>
    </section>
    <section id="mainpagesecondsec">
     <div>
      <a href="" id="secondseclink1"><img src="images/java.png" /><p id="secondsecp1">Java工程师</p></a>
      <a href="" id="secondseclink2"><img src="images/php.png" /><p id="secondsecp2">PHP工程师</p></a>
      <a href="" id="secondseclink3"><img src="images/android.png" /><p id="secondsecp3">Android工程师</p></a>
      <a href="" id="secondseclink4"><img src="images/html.png" /><p id="secondsecp4">Web大前端工程师</p></a>
     </div>
    </section>
    <section id="mainpagethirdsec">
     <div>
      <p>用户反馈</p>
      <div>
       <div>
        <a href=""> <p>51 Offer提供了互联网公司的最新需求。通过这个网站，我找到了适合自己的理想工作。感谢51 Offer！</p>
         <div>
          <img src="images/carton1.png" />
          <p> David Li </p>
          <span> 入职 Google, America </span>
         </div> </a>
        <a href=""> <p> Finally and luckily I found 51 offer. Thanks them!</p>
         <div>
          <img src="images/carton2.png" />
          <p> Eric Liu </p>
          <span> 入职 Facebook, America </span>
         </div> </a>
        <a href=""> <p> 发现自己，连接他人。51 Offer是最好的桥梁。 </p>
         <div>
          <img src="images/carton3.png" />
          <p> Nicholas Wei </p>
          <span> 入职 Alibaba, China </span>
         </div> </a>
        <a href=""> <p> 51 Offer is so amazing.I got my fantanstic work in just several days! </p>
         <div>
          <img src="images/carton4.png" />
          <p> Lisa Chen </p>
          <span> 入职 Tencent,China </span>
         </div> </a>
        <a href=""> <p> 51 Offer 有你想要的海量相信，更有贴心的服务。 </p>
         <div>
          <img src="images/carton5.png" />
          <p> Rebecca Zhang </p>
          <span> 入职 Baidu,China </span>
         </div> </a>
        <a href=""> <p> 如果有一句话评价51 Offer，那就是：人才聚集地，公司人力首选。 </p>
         <div>
          <img src="images/carton6.png" />
          <p> Bryan Chen </p>
          <span> 入职 Amazon,America </span>
         </div> </a>
       </div>
      </div>
      <div id="thirdsecsecdiv">
       <i id="thirdsecfiri"></i>
       <i id="thirdsecseci"></i>
      </div>
     </div>
    </section>
   </div>
  </article>
