/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);
/*设置所有的margin和padding为0*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
.container-fluid{
  padding:0;
}
.navbar-default {
  background-color: #37474F;
  border-color: #0077b5;
  margin-bottom: 0;
  .navbar-brand{
    color:rgba(245, 245, 245, 0.97);
    padding: 10px 15px;
    line-height: 30px;
  }
}
.navbar-brand:hover {
  color:#ef6f00;
  background-color: transparent;
}
.navbar-brand:focus {
  color:#ef6f00;
  background-color: transparent;
}
@media (min-width: 768px){
  .navbar {
    border-radius: 0;
  }
}
 .navbar-default .navbar-nav > li > a{
   color: #fff;
   font-size: 15px;
   font-weight: 500;

 }
 .container-fluid .navbar-header{
   margin-left: 166px;
 }
 .navbar-header span{
   line-height: 50px;
   color:rgba(245, 245, 245, 0.97);
   font-size: 18px;
 }
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: #FF6F00;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: #FF6F00;

   background-color: #FFE0B2;

 }
 #signup{
   border:1px #fff;
 }
 .navbar-collapse ul{
   margin-right: 123px;
 }
  .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
 }
  .container-fluid .jumbotron{
   padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
   margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
   border-radius: 0;//圆角为0
 }
 /****** LOGIN MODAL ******/
 .loginmodal-container {
   padding: 30px;
   max-width: 350px;
   width: 100% !important;
   background-color: #F7F7F7;
   margin: 0 auto;
   border-radius: 2px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   font-family: roboto;
 }
 .loginmodal-container h1 {
   text-align: center;
   font-size: 1.8em;
   font-family: roboto;
 }

 .loginmodal-container input[type=submit] {
   width: 100%;
   display: block;
   margin-bottom: 10px;
   position: relative;
 }

 .loginmodal-container input[type=text], input[type=password] {
   height: 44px;
   font-size: 16px;
   width: 100%;
   margin-bottom: 10px;
   -webkit-appearance: none;
   background: #fff;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   /* border-radius: 2px; */
   padding: 0 8px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 .loginmodal-container input[type=text]:hover, input[type=password]:hover {
   border: 1px solid #b9b9b9;
   border-top: 1px solid #a0a0a0;
   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
 }

 .loginmodal {
   text-align: center;
   font-size: 14px;
   font-family: 'Arial', sans-serif;
   font-weight: 700;
   height: 36px;
   padding: 0 8px;
 /* border-radius: 3px; */
 /* -webkit-user-select: none;
   user-select: none; */
 }

 .loginmodal-submit {
   /* border: 1px solid #3079ed; */
   border: 0px;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.1);
   background-color: #4d90fe;
   padding: 17px 0px;
   font-family: roboto;
   font-size: 14px;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
 }

 .loginmodal-submit:hover {
   /* border: 1px solid #2f5bb7; */
   border: 0px;
   text-shadow: 0 1px rgba(0,0,0,0.3);
   background-color: #357ae8;
   /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
 }

 .loginmodal-container a {
   text-decoration: none;
   color: #666;
   font-weight: 400;
   text-align: center;
   display: inline-block;
   opacity: 0.6;
   transition: opacity ease 0.5s;
 }

 .login-help{
   font-size: 12px;
 }

#carousle1{
  left: -340px;
  color: #B0BEC5;
}
#carousel2{
  width: 10px;
  top: 20px;
  left: 800px;
}
header {
     height: 60px;
     background: #fff;
     border-bottom: 1px solid #ececec;
 }
header>.container1 {
     width: 1000px;
     height: 60px;
     margin: 0 auto;
 }
 header>.container1>div {
     float: left;
     height: 60px;
     line-height: 60px;
 }
 #link-shouye {
     text-decoration: none;
     color: rgb(53, 181, 88);
     font-size: 14px;
     margin-right: 50px;
 }
 header>.container1>.navcontent {
     position: relative;
     font-size: 14px;
     cursor: pointer;
 }

 #backend_develop {
     margin-left: 50px;
 }

 #fullstack {
     margin-left: 50px;
 }
.carousel-caption{
  position: absolute;
  top:200px;
  font-size: 40px;
  color:#8BC34A;
}
header>.container1>.navcontent:hover #span1 {
     color: rgb(53, 181, 88);
 }

 header>.container1>.navcontent:hover #span2 {
     color: rgb(53, 181, 88);
 }

 header>.container1>.navcontent:hover #span3 {
     color: rgb(53, 181, 88);
 }
 #sousuo {
     float: right;
 }
 #mainpage {
     background-color: #d9edf7;
     padding-top: 20px;
 }
 #mainpagefirstsec{
       height: 659px;
 }
 #mainpagefirstsec>div {
     width: 1000px;
     height: 330px;
     margin: 0 auto;
 }
 #mainpagesecondsec {
     height: 130px;
     margin-top: 20px;
 }

 #mainpagesecondsec>div {
     width: 1000px;
     margin: 0 auto;
 }

 #mainpagesecondsec>div>a {
     float: left;
     text-decoration: none;
     width: 248px;
     height: 130px;
     border: 1px solid #f0f0f0;
     background-color: #ffffff;
     text-align: center;
     font-size: 12px;
 }

 #mainpagesecondsec>div>a>img {
     width: 130px;
     height: 65px;
     margin-top: 24px;
 }

 #mainpagesecondsec>div>a>p {
     margin-top: 2px;
     color: #555;
 }
 #secondseclink1 {
     position: relative;
     overflow: hidden;
 }
 #secondseclink1::after {
     content: "最新职位";
     position: absolute;
     background-color: rgba(158, 158, 158, 0.38);
     width: 92px;
     height: 17px;
     color: #555;
     transform: rotate(-45deg);
     top: 10px;
     left: -28px;
 }
 #mainpagethirdsec {
     margin-top: 40px;
     height: 360px;
     margin-bottom: 25px;
 }

 #mainpagethirdsec>div {
     width: 1000px;
     margin: 0 auto;
     height: 100%;
 }

 #mainpagethirdsec>div>p {
     margin-bottom: 22px;
     font-size: 18px;
     color: #555;
 }

 #mainpagethirdsec>div>div {
     overflow: hidden;
 }

 #mainpagethirdsec>div>div>div {
     width: 3000px;
 }

 #mainpagethirdsec>div>div>div>a {
     text-decoration: none;
     width: 314px;
     height: 250px;
     float: left;
     margin-right: 20px;
 }

 #mainpagethirdsec>div>div>div>a>p {
     background-color: #fff;
     width: 271px;
     height: 80px;
     font-size: 12px;
     color: #555;
     line-height: 20px;
     padding: 20px 25px 20px 25px;
     position: relative;
 }

 #mainpagethirdsec>div>div>div>a>p::before {
     content: "";
     width: 14px;
     height: 10px;
     position: absolute;
     background-image: image-url("storyicon1.png");
     background-size: 14px 10px;
     top: 7px;
     left: 8px;
 }

 #mainpagethirdsec>div>div>div>a>p::after {
     content: "";
     position: absolute;
     width: 14px;
     height: 10px;
     background-image: image-url("storyicon1.png");
     background-size: 14px 10px;
     left: 248px;
     top: 62px;
     transform: rotate(180deg);
 }

 #mainpagethirdsec>div>div>div>a>div {
     margin-left: 20px;
     margin-top: 28px;
     position: relative;
 }

 #mainpagethirdsec>div>div>div>a>div>img {
     width: 60px;
     height: 60px;
     border-radius: 50%;
 }

 #mainpagethirdsec>div>div>div>a>div>p {
     font-size: 12px;
     color: #555;
     position: absolute;
     top: 12px;
     left: 74px;
 }

 #mainpagethirdsec>div>div>div>a>div>span {
     position: absolute;
     font-size: 12px;
     color: #999;
     top: 36px;
     left: 74px;
 }

 #mainpagethirdsec>div>div>div {
     animation-name: story;
     animation-duration: 16s;
     animation-iteration-count: infinite;
     animation-timing-function: step-start;
 }

 #mainpagethirdsec>div>div>div:hover {
     animation-play-state: paused;
 }

 @-webkit-keyframes story {
     50% {
         transform: translate(0);
     }

     100% {
         transform: translate(-1000px);
     }
 }

 #thirdsecfiri {
     display: inline-block;
     cursor: pointer;
     animation: story-pagination1 16s step-start infinite;
 }

 @-webkit-keyframes story-pagination1 {
     50% {
         width: 8px;
         height: 8px;
         background-color: #bbb;
     }

     100% {
         width: 16px;
         height: 8px;
         background-color: #35b558;
     }
 }

 #thirdsecseci {
     display: inline-block;
     cursor: pointer;
     animation: story-pagination2 16s step-start infinite;
 }

 @-webkit-keyframes story-pagination2 {
     50% {
         width: 16px;
         height: 8px;
         background-color: #35b558;
     }

     100% {
         width: 8px;
         height: 8px;
         background-color: #bbb;
     }
 }
 #thirdsecsecdiv {
    height: 80px;
    text-align: center;
 }
 #thirdsecfiri:hover {
    animation-play-state: paused;
 }
 #thirdsecseci:hover {
    animation-play-state: paused;
 }
 #headersearchdiv>div>i:nth-child(1){
		background: image-url("search-icon.png");
		background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: block;
    float: left;
    position: absolute;
		top: 22px;
 	}
 #headersearchdiv>div #lasti{
      background: image-url("close-icon.png");
      width: 15px;
	    height: 15px;
      cursor: pointer;
	    background-size: 100% 100%;
	    display:block;
	    float: right;
	    position: absolute;
	    top: 22px;
	    right: 0;
 		}
 #headersearchdiv>div{
		  display: none;
 			position: absolute;
 			top: 0;
 			right: 291px;
 			background: #fff;
 			height: 60px;
 			width: 850px;
 		}
 		/*鼠标点击后出现的动画效果是由下面的代码实现的*/
 #headersearchdiv>.scale{
		  transform-origin: right center;
	    -moz-transform-origin: right center;
	    display: block;
	    /*transform: scale(1, 1);
	    opacity: 1;*/
	    animation: scalerun 0.8s ease normal;
	    -moz-animation: scalerun 2s line normal;
	    -webkit-animation: scalerun 0.8s ease normal;
 		}
 		@keyframes scalerun{
 			0%{
                 opacity: 0;
 			    transform: scale(0.1, 1);
 			}
 			100%{
 			    opacity: 1;
 			    transform: scale(1, 1);
 			}
 		}
    #searchdiv{
      float: right;
    }
    .searchicon{
      height: 60px;
      width: 17px;
      display: inline-block;
      cursor: pointer;
      background: image-url("search-icon.png") no-repeat;
      background-position: 0px 22px;
      background-size: 17px;
    }
    .mouseenterbg{
      background: image-url("search-icon2.png") no-repeat;
      background-size: 17px 17px;
      background-position: 0px 22px;
   }
#searchdiv>div>i:nth-child(1){
   background: image-url("search-icon.png");
   background-size: 17px 17px;
   background-position: 0, 0;
   height: 17px;
   width: 17px;
   display: block;
   float: left;
   position: absolute;
   top: 22px;
   left: 8px;
}
#searchdiv>div #lasti{
   background: image-url("close-icon.png");
   width: 15px;
   height: 15px;
   cursor: pointer;
   background-size: 100% 100%;
   display:block;
   float: right;
   position: absolute;
   top: 22px;
   right: 18px;
}
#searchdiv>div{
   display: none;
   position: absolute;
   top: 51px;
   right: 149px;
   background: rgb(60, 118, 102);
   height: 60px;
   width: 560px;
}
#searchdiv .scale{
   transform-origin: right center;
    -moz-transform-origin: right center;
    display: block;
    animation: scalerun 0.8s ease normal;
    -webkit-animation: scalerun 0.8s ease normal;
}
@keyframes scalerun{
  0%{
            opacity: 0;
      transform: scale(0.1, 1);
  }
  100%{
      opacity: 1;
      transform: scale(1, 1);
  }
}
/*鼠标点击后出现的动画效果是由上面的代码实现的 end*/
#searchdiv>div input{
    float: left;
    display: block;
    width: 400px;
    height: 40px;
    border: 0;
    position: absolute;
    top: 12px;
    left: 35px;
    font-size: 12px;
    outline: none;
    text-indent: 12px;
}
#searchdiv>div button{
  margin-left: 455px;
}
