<footer class="container-fluid" style="margin-top:10px;">
  <h2 class="text-center">编程，是一种信仰！</h2>
<p class="text-center">Copyright&COPY;2017 51 Offer All Rights Reserved
  <br>
  Created by Eric
</p>
</footer>
