<footer class="container-fluid" style="margin-top:10px;">
  <h2 class="text-center">编程，是一种信仰！</h2>
<p class="text-center">Copyright&COPY;2017 51 Offer
  <br>
  Created by Eric
</p>
All Rights Reserved.京ICP备11018032号-8 京公网安备11010802020210

 <div id="footerfirstdiv">
  <div id="firstdivfirstdiv">
   <img src="http://e.jikexueyuan.com/headerandfooter/images/jk-logo-footer.png?t=1475152597000" />
   <p>极客学院，编程是一种信仰！</p>
  </div>
  <ul>
   <li> <p>其他</p>
    <ol>
     <li> <a href="">关于我们</a> </li>
     <li> <a href="">加入我们</a> </li>
     <li> <a href="">讲师合作</a> </li>
     <li> <a href="">联系我们</a> </li>
     <li> <a href="">友情链接</a> </li>
     <li>     <p>服务热线：400-678-8266</p></li>
    </ol> </li>
  </ul>
 </div>
</footer>
